#!/usr/bin/make -f
# -*- makefile -*-

DEB_SCONS_OPTIONS = \
prefix=/usr \
install_root=$(CURDIR)/debian/hello-world \
CXX=g++ \
CXXFLAGS="$(shell dpkg-buildflags --get CXXFLAGS)" \
LDFLAGS="$(shell dpkg-buildflags --get LDFLAGS)"

DEB_SCONS_INSTALL_OPTIONS = $(DEB_SCONS_OPTIONS)
DEB_SCONS_INSTALL_OPTIONS += INSTALL=1

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	scons $(DEB_SCONS_OPTIONS)

override_dh_auto_install:
	scons $(DEB_SCONS_INSTALL_OPTIONS)

# Otherwise an additional package hello-world-dbgsym is being created
override_dh_strip:
	:

override_dh_auto_clean:
	scons -c || true
	dh_auto_clean
